.details {
    padding: 1rem;
    width: 30rem;
  }
  
  .author {
    font-size: 0.8rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #593884;
    font-style: italic;
  }
  
  .details a {
    text-decoration: none;
  }

  .removeBtnContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .btn1 {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .btn1 svg {
    height: 25px;
    width: 25px;
    fill: red;
  }

  .btn1:hover {
    transform: scale(1.2);
  }

  .btn1:active {
    transform: scale(1);
  }